# -- ignore everything by default --------------------------------------
/*
.DS_Store

# -- include these files -----------------------------------------------
!.github/
!.gitignore
!LICENSE
!README.md
!contrib/
!examples/
!jsr.json
!mise.toml
!mod.ts
!package-lock.json
!package.json
!scripts/
!src/
!tsconfig.json
