# -- ignore everything by default --------------------------------------
/*
.DS_Store

# -- include these files -----------------------------------------------
!.gitignore
!.github/
!LICENSE
!README.md
!compile-protobufs.sh
!contrib/
!examples/
!jsr.json
!mod.ts
!package-lock.json
!package.json
!src/
!tsconfig.json
